@import "../app/variables";

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.auth__title {
  text-align: center;
}

.auth-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
}

.has-feedback label ~ .form-control-feedback {
  top: 0 !important;
}

.panel {
  background-color: rgba($navbar-default-bg, 0.7);
}
