/* ----- Header ----- */

.header {
    border-bottom: 1px solid black;
}

.header__information {
    float: right;
}

.page-title,
.user-menu {
    display: inline;
    padding: 0px 5px;
}

.user-menu__name {
    font-size: 17px;
    text-decoration: none;
}

.user-menu__name:visited {
    color: black;
}

.user-menu__name:hover {
    text-decoration: underline;
}

.page-logo,
.header__information {
    padding: 20px 35px;
}

/* ----- Main ----- */

.main {
    display: flex;
}

/* ----- Aside ----- */

.sidebar {
    width: 20%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(242, 242, 242);
}

.website-navigation {
    padding-top: 15px;
    text-align: center;
}

.website-navigation__reference {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(230, 230, 230);
    width: 80%;
    height: 30px;
    margin: 5px auto;
    padding-top: 6px;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
}

.website-navigation__reference:visited {
    color: black;
}

.website-navigation__reference:hover {
    background-color: rgb(220, 220, 220);
}

/* ----- Section ----- */

.content {
    width: 80%;
    padding: 20px 200px 10px 80px;
}

.common-info__picture {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 40%;
}

.tabs {
    position: relative;
    height: 200px;
}

.tabs__tab {
    float: left;
}

.tabs__tab-input {
    display: none;
}

.tabs__tab-label {
    background-color: rgb(242, 242, 242);
    padding: 10px;
    border: 1px solid #ccc;
}

.tabs__tab-label:hover {
    border: 1px solid rgb(170, 170, 170);
}

.tabs__tab-content {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    text-align: justify;
    border: 1px solid #ccc;
    overflow: auto;
}

.tabs__tab-input:checked ~ .tabs__tab-label {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(218, 218, 218);
    z-index: 2;
}

.tabs__tab-input:checked ~ .tabs__tab-label ~ .tabs__tab-content {
    z-index: 1;
}

/* ----- Footer ----- */

.footer {
    font-size: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(242, 242, 242);
}

.footer-logo {
    text-align: center;
    height: 100%;
}
