/* ----- Header ----- */

.header {
    border: 1px solid black;
    background-color: rgb(242, 242, 242);
}

.header__information {
    float: right;
    padding-right: 30px;
}

.header__logo {
    width: 200px;
    height: 70px;
}

.header__information .header__information__page-info {
    float: left;
}

.header__information .header__information__user-info {
    margin-top: 17px;
    margin-left: 10px;
    float: right;
}

.header > * {
    padding: 20px 35px;
}

/* ----- Aside ----- */

.main {
    position: relative;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(242, 242, 242);
}

.main__sidebar {
    position: absolute;
    float: left;
    width: 300px;
    top: 0px;
    bottom: 0px;
    border: 1px solid black;
    background-color: rgb(242, 242, 242);
}

.main__sidebar__reference {
    font-weight: 300;
    list-style-type: none;
    border: 1px solid black;
    margin: 10px 0px;
    width: 200px;
}

.main__sidebar__reference * {
    width: 100%;
    height: 35px;
}

/* ----- Section ----- */

.main__info {
    margin: 20px 150px 0px 330px;
}

.main__info__common__company {
    float: left;
}

.main__info__tabs {
    position: relative;
    height: 200px;
    margin: 20px 0px 10px 0px;
}

.main__info__tabs--tab {
    float: left;
}

.main__info__tabs--tab [type=radio] {
    display: none;
}

.main__info__tabs--tab label {
    background: #eee;
    padding: 11px ;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.main__info__tabs__content {
    position: absolute;
    top: 28px;
    left: 0;
    background-color: rgb(218, 218, 218);
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: auto;
}

[type=radio]:checked ~ label {
    background-color: rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    z-index: 2;
}

[type=radio]:checked ~ label ~ .main__info__tabs__content {
    z-index: 1;
}

/* ----- Footer ----- */

.footer {
    font-size: 15px;
    border: 1px solid black;
    background-color: rgb(242, 242, 242);
}

.footer__footer-logo {
    text-align: center;
    height: 100%;
}
