.header {
	line-height: 75px;
	height: 75px;
	background-color: rgb(238, 238, 238);
}

.header .logo__img {
	margin-left: 20px;
	vertical-align: middle;
	display: inline-block;
}

.header .nav__a {
	color: rgb(0, 0, 0);
}

.header .nav__a:hover {
	color: rgb(150, 150, 150);
}

.header .nav__a:active{
	color: red;
}

.header .nav__a_decoration_none {
	text-decoration: none;
}

.header .nav_float_right {
	float: right;
	padding-right: 40px;
	padding-left: 0;
}

.header .nav {
	margin: 0;
	display: inline-block;
}

.header .nav .nav__item {
	margin-left: 20px;
	display: inline-block;
	list-style-type: none;
}

.header .userinfo .userinfo__img {
	vertical-align: middle;
}

.content {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
}

.content__menu,
.content__about {
 		padding: 20px;
}

.content__menu {
	display: flex;
	flex-flow: column nowrap;
	flex-basis: 400px;
	justify-content: flex-start;
	align-items: stretch;
	background-color: rgb(245, 245, 245);
}

.content__about {
	flex-grow: 5;
}

.content__about .about__header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.content__about .about__logo {
	width: 200px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	font-size: 3em;
}

.content__about .about__img {
	display: inline-block;
	object-fit: scale-down;
	flex-grow: 5;
	max-height: 500px;
}

.content__about .about__tabs {
	position: relative;
	min-height: 250px; /* This part sucks */
	clear: both;
	margin: 25px 0;
}

.content__about .tabs__item {
  float: left;
}

.content__about .tabs__item label{
	background: rgb(204, 204, 204);
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
	border-radius: 0 10px 0 0;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.content__about .tabs__item label:hover{
	background-color: rgb(230, 230, 230);
	transition: all  cubic-bezier(0, 0, 0.2, 1) 0.2s;
}

.content__about .tabs__item label:active{
	color: rgb(255, 0, 0);
	transition: all  cubic-bezier(0, 0, 0.2, 1) 0.2s;
}

.content__about .tabs__item [type=radio] {
	display: none;
}

.about__tabs .tabs__item .tabs__content {
  position: absolute;
  top: 22px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.tabs__item [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

.tabs__item [type=radio]:checked ~ label ~ .tabs__content {
  z-index: 1;
}

.tabs__item .tab1_titulimg {
	float: left;
}

.tabs__item .tab1__text
 {
	display: inline-block;
	vertical-align: top;
}

.content .content__menu .menu__item {
	display: block;
	margin: 20px 20px 0;
	border: solid black 1px;
	min-height: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 3px 3px 0 0 rgb(0, 0, 0);
}

.content .content__menu .menu__item:hover {
	border-color: rgb(150, 150, 150);
	box-shadow: 3px 3px 0 0 rgb(150, 150, 150);
	transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
}

.content .content__menu .menu__item:active {
		position: relative;
		top: 2px;
		left: 2px;
		box-shadow: none;
		transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s
}

.content .content__menu .menu__item:focus {
	background-color: rgb(245, 245, 245);
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer .footer__copyright{
	text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
