.header {
	line-height: 75px;
	height: 75px;
	background-color: rgb(238, 238, 238);
}

.header .logo__img {
	margin-left: 20px;
	vertical-align: middle;
	display: inline-block;
}

.header .nav__a {
	color: rgb(0, 0, 0);
}

.header .nav__a:hover {
	color: rgb(150, 150, 150);
}

.header .nav__a:active{
	color: red;
}

.header .nav__a_decoration_none {
	text-decoration: none;
}

.header .nav_float_right {
	float: right;
	padding-right: 40px;
	padding-left: 0;
}

.header .nav {
	margin: 0;
	display: inline-block;
}

.header .nav .nav__item {
	margin-left: 20px;
	display: inline-block;
	list-style-type: none;
}

.header .userinfo .userinfo__img {
	vertical-align: middle;
}

.content {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
}

.content__menu,
.content__about {
 		padding: 20px;
}

.content__menu {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
	background-color: rgb(245, 245, 245);
}

.content__about {
	flex-grow: 5;
}

.content .content__menu .menu__item {
	display: block;
	margin: 20px 20px 0;
	border: solid black 1px;
	min-height: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 3px 3px 0 0 rgb(0, 0, 0);
}

.content .content__menu .menu__item:hover {
	border-color: rgb(150, 150, 150);
	box-shadow: 3px 3px 0 0 rgb(150, 150, 150);
	transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
}

.content .content__menu .menu__item:active {
		position: relative;
		top: 2px;
		left: 2px;
		box-shadow: none;
		transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s
}

.content .content__menu .menu__item:focus {
	background-color: rgb(245, 245, 245);
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer .footer__copyright{
	text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
