/* ----- Header ----- */

#heading {
    float: right;
    padding-right: 30px;
}

#heading div {
    margin-top: 17px;
    margin-left: 10px;
    float: right;
}

#heading h3 {
    float: left;
}

/* ----- Aside ----- */

aside {
    float: left;
    width: 250px;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: none;
    border: 1px solid black;
}

.aside-menu a {
	color: #8f8f8f;
}

/* ----- Section ----- */

section {
    margin-left: 280px;
}

.main-page-info img {

}

/* ----- Footer ----- */

footer {
    font-size: 15px;
}

#footer {
    height: 90px;
}

#footer-logo {
    text-align: center;
    
}
