@import "./variables";

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.menu {
  margin: -$navbar-margin-bottom auto;
  margin-right: 40px;
}

.main {
  flex-grow: 1;
  max-width: 800px;
}

#container {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

@media all and (max-width: $screen-xs-max) {
  .content {
    display: block;
  }

  .menu {
    margin-right: auto;
  }
}
