@import "./components/variables";

$main-height-decrease: ($navbar-height + 2 + $navbar-margin-bottom + $footer-height);

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  margin-left: 40px;
  height: calc(100vh - #{$main-height-decrease});
}

#container {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
