.check-email-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.check-email-panel__title {
  text-align: center;
}

.check-email-panel__content {
  margin-top: 20px;
}
