.form-group .radio .option {
  color: black;
}

.form-horizontal {
  & .radio,
  & .form-group {
    margin: 0;
    padding: 0;
  }
}

.form-control {
  &.option {
    display: inline;
    width: 90%;
  }
}
