.editing-question-wrapper {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.panel .editing-question-wrapper {
  background-color: #fafafa;
}

.panel .top-actions,
.panel .bottom-actions {
  position: absolute;
  right: 15px;

  &__required {
    display: inline;
    margin-right: 10px;
  }
}

.editing-question-wrapper-action__move {
  position: absolute;
  top: 12px;
  cursor: move;
}

.top-actions {
  top: 10px;
}

.bottom-actions {
  bottom: 10px;
}
