@import "./variables";

.navbar-collapse {
  float: right;
}

.navbar-default .navbar__item {
  color: $gray-light;

  &:hover,
  &:focus {
    color: $gray-dark;
    text-decoration: none;
  }
}

.navbar {
  &-brand {
    &__link {
      width: auto;
      height: $navbar-height !important;
    }

    &__image {
      height: 100%;
    }
  }

  &-collapse {
    margin-right: 20px !important;
  }

  &__item {
    display: inline-block;

    &-wrapper {
      background-color: $navbar-default-bg !important;
      border: none !important;
      line-height: $navbar-height !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      text-align: center !important;

      &:hover {
        background-color: darken($navbar-default-bg, 10%) !important;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-collapse {
    float: none;
  }

  .navbar__item {
    display: block;
  }
}
