@import "./customScroll";
@import "./variables";

.main {
  display: flex;
  padding: 0 $content-padding-horizontal;
}

.custom-scroll .custom-scrollbar {
  width: 6px;
}

.custom-scroll .inner-handle {
  background-color: red;
}

.user-list {
  height: 1000px;
}

.table-row td {
  max-width: 200px;
  padding: 2px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
