@import "./variables";

.menu {
  padding: ($menu-line-hight/4) $menu-width/30;
  width: $menu-width;

  &__item {
    display: block;
    width: ($menu-width*0.8);
    margin: ($menu-line-hight/4) auto;
    line-height: $menu-line-hight/4;
    padding: $menu-line-hight/8 $menu-width/10;
    border: solid $menu-item-border-color $menu-item-border-width;
    background-color: $menu-item-background-color;
    box-shadow: 3px 3px 0 0 $menu-item-shadow-color;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      border-color: $menu-item-hover-border-color;
      box-shadow: 3px 3px 0 0 $menu-item-hover-shadow-color;
      transition: all $menu-item-transition;
    }

    &:active {
      text-decoration: none;
      position: relative;
      top: 3px;
      left: 3px;
      box-shadow: none;
      transition: all $menu-item-transition;
    }

    &:focus {
      text-decoration: none;
      background-color: darken($menu-item-background-color, 10%);
    }
  }
}
