@import "./variables";

.user-info {
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  display: inline-block;
  &__img {
    display: inline-block;
    height: ($navbar-height/2);
  }
}

@media (max-width: $screen-sm-max) {
  .user-info {
    display: block;
    text-align: center;
  }
}
