@import "../variables";

$navbar-height: 60px;

$menu-line-hight: 80px;
$menu-width: 300px;

$menu-item-border-width: 1px;
$menu-item-border-color: black;
$menu-item-hover-border-color: #777;
$menu-item-shadow-color: black;
$menu-item-hover-shadow-color: #777;
$menu-item-background-color: white;
$menu-item-transition: cubic-bezier(0, 0, 0.2, 1) 0.2s;

$footer-height: 40px;
