@import "../variables";

.navbar-collapse {
  float: right;
}

.navbar-default .navbar__item {
  color: $gray-light;

  &:hover,
  &:focus {
    color: $gray-dark;
    text-decoration: none;
  }
}

.navbar {
  &.navbar-wrapper {
    margin-bottom: 0;
  }

  &-brand {
    &__link {
      &.react-bootstrap-link {
        width: auto;
        height: $navbar-height;
      }
    }

    &__image {
      height: 100%;
    }
  }

  .react-bootstrap-navbar-collapse {
    &.navbar-collapse {
      margin-right: 20px;
    }
  }

  &__item {
    display: inline-block;

    &-wrapper {
      &.btn {
        background-color: $navbar-default-bg;
        border: none;
        line-height: $navbar-height;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;

        &:hover {
          background-color: darken($navbar-default-bg, 10%);
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-collapse {
    float: none;
  }

  .navbar__item {
    display: block;
  }
}
