.page {
  padding: 15px;
  border: 1px solid #ddd;
  border-top-width: 0;

  & .page-control {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding-bottom: 10px;

    & .page-delete {
      margin-left: 40px;
    }

    & .page-form-group {
      width: 100%;
    }
  }
}
.nav {
  & .error-tab {
    color: red;
  }
}

