.survey-edit-panel {
  display: -webkit-box;
  margin-top: 20px;

  & .new-page.btn-group {
    float: right;
  }

  & .survey-actions {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.settings-panel {
  position: fixed;
  margin-left: 20px;
}
